

<div class="container">
    <h2>Hello DOCTOR</h2>
  <br>
  <div class="well">
        <h4><b>Patients:</b></h4><br>
              <table class="table-bordered" id="medtable" name="medtable">
                  <thead class = "row">
                        <th class = "col-sm-4">NAME</th>
                        <th class = "col-sm-4">AGE</th>
                        <th class = "col-sm-4">SEX</th>
                  </thead>
                  <tbody>
                      <tr>
                          <td>HARISH</td>
                          <td>22</td>
                          <td>MALE</td>
                      </tr>
                  </tbody>
              </table>
          </div>        
      <br>
      <div class="well">
            <h4><b>Appointments:</b></h4><br>
              <table class="table-bordered" id="currentapptable" name="currentapptable">
                  <thead class="row">
                        <th class="col-sm-4">DATE</th>
                        <th class="col-sm-4">TIME</th>
                        <th class="col-sm-4">PATIENT</th>
                  </thead>
                  <tbody>
                      <tr>
                          <td>22/03/2018</td>
                          <td>10:00:AM</td>
                          <td>HARISH</td>
                      </tr>
                  </tbody>
              </table>
      </div>
      <br>
      <button style="margin-top: 15px;" routerLink="/" class="btn">Back</button>
</div>