

<div class="container-fluid">
  <div class="well">
      <div class="well">
<h2>Hello, welcome to your ActualCare home page, DOCTOR_NAME !</h2>
      </div>
  </div>
  <br>
  <div class="well">
          <p>Below are all your current patients:</p>
              <table border="2px" id="medtable" name="medtable">
                  <thead>
                      <tr>
                          <td>PATIENT NAME</td>
                          <td>PATIENT AGE</td>
                          <td>PATIENT SEX</td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                  </tbody>
              </table>
          </div>        
      <br>
      <div class="well">
          <p>You will find your next upcoming appointments below:</p>
              <table border="2px" id="currentapptable" name="currentapptable">
                  <thead>
                      <tr>
                          <td>DATE</td>
                          <td>TIME</td>
                          <td>PATIENT</td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                  </tbody>
              </table>
      </div>
      <br>
</div>

<p>
  doctor works! {{loginId}}
  <a routerLink="/">Go Back</a>
</p>
