<div *ngIf = "patient">
    <div class="container" >
        <h2 (click)="showPatient()">Hello <strong>{{patient.myPersonalInfo.f_name + ' ' +patient.myPersonalInfo.l_name}}</strong></h2>
        <br>
        <br>
        <div class = "row">
            <div class="col-sm-8"><h4>Your current PCP is: <strong>Dr.{{patient.PCP}}</strong></h4></div>
            <div class="col-sm-4"><h4 align="right">Your Insurance is: <strong>{{patient.myInsurance}}</strong></h4></div>
        </div>
        <br>
        <div class="well">
            <h4>Allergies: <strong>{{patient.myAllgeries.a_name | uppercase}}</strong></h4><br>
            <h5>Please enter any allegeries that you may have, one at a time, to ensure you 
                    receive the safest, most appriorate care possible.</h5>
            <textarea rows="2" cols="140"[(ngModel)]="patient.myAllgeries.a_name" placeholder="a_name">
            </textarea>
            <button style="margin-top:-30px;margin-right:30px" class="btn btn-primary" (click)="updateAllergy()">SAVE</button>
        </div>
        <div class="well">
            <h4>Symptoms: <strong>{{patient.mySymptons.s_name | uppercase}}</strong></h4><br>
            <h5>Please enter any symptoms that you may have currently, to ensure your DOCTOR
                has all the information necessary to provide you with the best possible diagonsis.</h5>
            <textarea rows="2" cols="140"[(ngModel)]="patient.mySymptons.s_name" placeholder="s_name">
            </textarea>
            <button style="margin-top:-30px;margin-right:30px" class="btn btn-primary" (click)="updateSymptom()">SAVE</button>
        </div>

        <div class="well">
            <h4><b>Medication:</b></h4><br>
                <table class="table-bordered" id="medtable" name="medtable">
                    <thead>
                        <tr class="row">
                            <th class="col-sm-4">MEDICATION</th>
                            <th class="col-sm-4">TIME</th>
                            <th class="col-sm-4">ADDTIONAL INFORMATION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>        
        <div class="well">
                <h4><b>Appointment Status:</b></h4><br>
                    <table class="table-bordered" id="apptable" name="apptable">
                        <thead>
                            <tr class="row">
                                <th class="col-sm-3">DATE</th>
                                <th class="col-sm-3">TIME</th>
                                <th class="col-sm-3">DOCTOR</th>
                                <th class="col-sm-3">STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        <form id="newappointment" name="newappointment" class="well">
            <h4><b>Make Appointment :</b></h4><br>
            <div class="row">
                <!-- Date Of Event -->
                <div class="col-sm-4" align="center">
                    <label class="control-label" for="dateof">Date Of Event?</label>
                    <input type="date" name="dateof" required id="dateof">
                    <p class="help-block">Please select the date of new appointment.
                    </p>
                </div>
                <!-- Time Of Event -->
                <div class="col-sm-4" align="center">
                    <label class="control-label" for="timeof">Time Of Event?</label>
                    <input type="time" name="timeof" required id="timeof"
                        class="input-xlarge" required>
                    <p class="help-block">Please enter the time of new appointment</p>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-default" align="center">Request New Appointment</button>
                </div>
            </div>
        </form>
        <div class="well">
        <h4><b>Medical Records :</b></h4><br>
        <form enctype='multipart/form-data' id="medicalrecord" name="medicalrecord" class="row">
        <div class="col-sm-3" data-provides="fileinput"id=afile>
                <input type="file" class="form-control-file" id="ufile"
                name="ufile"
                accept=".png, .pdf, .jpeg, .jpg, .txt, .doc, .docx, .msg"
                multiple>
        </div>
        <div class="col-sm-6">
                <!-- Button -->
                <div class="controls">
                    <button type="submit" class="btn btn-success">Submit Medical Records</button>
                </div>
            </div>
        </form>
        </div>
        <button style="margin-top: 15px;" routerLink="/" class="btn">Back</button>
    </div>
</div>    
